[submodule "home/.oh-my-zsh"]
	path = home/.oh-my-zsh
	url = git://github.com/robbyrussell/oh-my-zsh.git
[submodule "home/.config/awesome"]
	path = home/.config/awesome
	url = git://github.com/copycat-killer/awesome-copycats.git
